.pageWrapper {
  width: 1124px;
  padding-top: 24px;
  margin-left: 338px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.row {
  display: flex;
  gap: 33px;
}

.card {
  border-radius: 28.1217px;
  border: 2.67826px solid #f8f8f8;
  padding: 24px 30px;
  width: 100%;
}

.cardTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #808191;
  margin-bottom: 20px;
}

.summary {
  /* gap: 0; */
}

.summaryClientData {
}

.summaryClientPhoto {
  background: gray;
  filter: drop-shadow(0px 4.39995px 26.3997px rgba(0, 0, 0, 0.09));
  width: 57px;
  height: 57px;
  border-radius: 50%;
}

.summaryClientName {
  font-weight: 500;
  font-size: 18px;
  line-height: 147%;
  color: #11142d;
  margin-bottom: 2px;
}

.summaryClientNo {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #b2b3bd;
}

.summaryCard {
  display: flex;
  justify-content: space-between;
  gap: 100px;

  font-weight: 500;
  font-size: 18px;
  line-height: 147%;
  color: #11142d;
}

.summaryItem {
  display: flex;
  gap: 16px;
  align-items: center;
}

.clientMoodIcon {
  background: gray;
  filter: drop-shadow(0px 4.39995px 26.3997px rgba(0, 0, 0, 0.09));
  width: 57px;
  height: 57px;
  border-radius: 50%;
}

.clientMood {
  font-weight: 500;
  font-size: 18px;
  line-height: 147%;
  color: #11142d;
}

.btn {
  background: #8486ec;
  border-radius: 28px;
  padding: 14px 40px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.btnLabel {
  min-width: fit-content;
}

.dangerBtn {
  background: #ea5658;
}

.logWrapper {
  min-width: 610px;
}

.logLatest {
  color: #11142d;
}

.log {
  color: #cfcfcf;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 424px;
}

.fireAlertContent {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
  color: #11142d;

  margin-bottom: 64px;
}

.fireAlertIcon {
  background: #ea5658;
  width: 74px;
  height: 74px;
  border-radius: 50%;
}

.stats {
  display: flex;
  gap: 106px;
  justify-content: center;
}

.statsRow {
  margin-bottom: 40px;
}

.statsWrapper {
  min-width: 471px;
}

.sensorWrapper {
  min-width: 612px;
}

.statItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.statData {
  font-weight: 500;
  font-size: 25.0364px;
  line-height: 33px;
  text-align: center;
  color: #11142d;
}

.statLabel {
  font-weight: 500;
  font-size: 19.4727px;
  line-height: 28px;
  text-align: center;
  color: #808191;
  min-width: fit-content;
  display: inline-block;
}
